.section {
    padding: 23px 15px;
    border-radius: 8px;
    border: 1px solid $light-grey;
}

.section__title {
    font-size: 24px;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr 1fr;
}

.list_default {
    list-style-type: none;
    margin: 0;
    padding: 0;
}